@model IEnumerable<EducationProject.Models.UserCourse>

@{
    ViewData["Title"] = "Index";
}
<section class="banner-area relative about-banner" id="home" style="height:300px">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center" style="height:200px">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                   Satın Alınmış Ürünler
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="container" style="text-align:center">
   


    <table class="table table-bordered table-striped table-sm m-1 p-1">
        <thead>
            <tr>
                <th>
                    Kullanıcı ID
                </th>
                <th>
                    Kurs ID
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    @*<td>
                        <a asp-controller="Admin" asp-action="UserEdit" asp-route-id="@item.Id">Düzenle</a> |
                        <a asp-controller="Admin" asp-action="UserDelete" asp-route-id="@item.Id">Sil</a>
                    </td>*@
                </tr>
            }
        </tbody>

    </table>

</div>
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />

