<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center" >
            <div class="about-content col-lg-12">
                <br /><br />
                <h2 class="text-white">
                    Satın Alma İşlemi Başarıyla Tamamlandı.
                    <br /><br />

                        <a asp-area="" class="genric-btn primary circle" style="background:rgba(19,23,35,1.2);margin-right:1px;margin-left:1px;margin-top:10px;margin-bottom:10px" asp-controller="Home" asp-action="Courses">Kurslara Geri Dön</a>

                    <br /><br /><br /><br />
                   <br /><br />
                </h2>
            </div>
        </div>
    </div>
   
</section>
